#list-allUS {
	font-size: 12px;
}

.codeAndTitle {
	font-weight: bold;
}

#form-us textarea {
	resize: vertical;
}

#sortByCode {
	cursor: pointer;
}

.hideCaret {
	display: none;
}

.showCaret {
	display: inline;
}

#voteResult {
	font-size: 12px;
}

.higestEstimate {
	background-color: #428bca;
}