body {
	/* min-height: 2000px; */
	/* padding-top: 70px; */
	padding-bottom: 60px;
}

.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.form-signin .form-signin-heading {
	margin-bottom: 10px;
}

.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin input[name="username"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signin input[name="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

/** === projects === */
#projects li {
	cursor: pointer;
}

.panel-heading {
	font-size: 18px;
}

/** === project === */

form .error {
    color: #a94442;
}

#dnd {
	display: table;
	table-layout:fixed;
	border-collapse: separate;
	width: 100%;
}

.statusLabel, .btnAddStatus {
	display: table-cell;
	vertical-align:middle;
	margin: 0;
	padding: 5px;
	height: 28px;
	border: 1px solid #ccc;
	border-radius: 16px;
	background-color: #fff;
	text-align: center;
	line-height: 16px;
	font-size: 12px;
}

.statusLabel {
	padding: 5px 21px;
}

.statusLabel .btn-sm {
	position: relative;
	padding: 1px;
	left: -16px;
}

.statusLabel .btn-sm.remove-p {
	left: 16px;
}

.btnAddStatus {
	width: 28px;
	border-radius: 4px;
}

.dz {
	display: table-cell;
	margin: 0;
	padding: 5px;
	height: 28px;
	width: 10px;
	background-color: #fff;
}

/** === tasks === */
.board-header {
	border-bottom: 1px solid black;
	margin: 0 15px;
}

.board-column {
	min-height: 1px;
	float: left;
	border-left: 1px dashed black;
	border-right: 1px dashed black;
}

.column {
	padding: 5px;
}

.board-column:first-of-type {
	border-left: none;
}

.board-column:last-of-type {
	border-right: none;
}

.board-content {
	margin: 0 15px;
	border-bottom: 1px dashed black;
}

.column-header {
	font-size: 18px;
	padding: 5px;
	text-align: center;
}

.task {
	position: relative;
	margin: 5px;
	padding: 5px;
	height: 75px;
	border: 1px solid black;
	border-radius: 10px;
	background-color: #fff;
	/* overflow: hidden; */
}

.task .pull-right>.dropdown-menu {
    top: 0;
    left: 100%;
}
.task-title {
	overflow: hidden;
	font-weight: bold;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.task-description {
	display: block;
	display: -webkit-box;
	max-width: 100%;
	height: 29px;
	margin: 0 auto;
	font-size: 14px;
	line-height: 1;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.task-category {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 5px;
	width: 100%;
	text-align: right;
	font-size: 10px;
	font-style: italic;
	line-height: 10px;
}

.task-assigned {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 6px;
	width: 100%;
	text-align: left;
	font-size: 10px;
	font-weight: bold;
	font-style: italic;
}

[draggable] {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.dragPending {border: 2px solid #000;}
.dragAllowed {background-color: #CEFFBA;}
.dragNotAllowed { background-color: #FFBABA;}

/** THEME */

/**
body {
	background-color: #252830;
	color: #cfd2da;
}

.panel-default {
	border-color: #434857;
	background-color: transparent;
}

.panel-default>.panel-heading {
	color: #fff;
	background-color: transparent;
	border-color: #434857;
}

.list-group-item {
	background-color: transparent;
	border-color: #434857;
}
*/
.titlebar {
	display: table;
	width: 100%;
	padding-top: 8px;
	padding-bottom: 10px;
	color: #777;
}

.titlebar-item {
	display: table-cell;
	width: 1%;
	white-space: nowrap;
	vertical-align: middle;
}

.titlebar-primary {
	width: 99%;
}

.titlebar-title {
	font-size: 30px;
}

.titlebar a {
	color: #777;
}

.titlebar a>span {
	margin: 0 5px;
}

.titlebar a>span:last-child {
	margin-right: 0;
}

.dashboard {
	text-align: center;
}

.dashboard>div {
	margin-right: auto;
	margin-left: auto;
}

.dashboard>div>canvas {
	display: block;
	margin: 0 auto 15px;
}

.dashboard>h3 {
	margin-top: 0;
}

/* Text fields */

div.input-group-option span.input-group-btn button {
	height: 34px;
}

div.input-group-option:last-child span.input-group-addon-remove {
	display: table-column;
}

div.input-group-option:last-child input.form-control {
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
}

div.input-group-option span.input-group-addon-remove {
	cursor: pointer;
}

div.input-group-option {
	margin-bottom: 3px;
}