body {
	padding-top: 70px;
}

.us-title {
	font-weight: bold;
}

#intercept {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: red;
	z-index: -1;
}
/** ==========================================================================
	loading
	========================================================================== */
#ajaxLoader {
	position: fixed;
	left: 50%;
	top: 50%;
	display: none;
	z-index: 9999;
}

/** ==========================================================================
	scrum-info
	========================================================================== */
a.scrum-info {
	color: #aaa;
}

a.scrum-info:hover {
	color: #333;
}

/** ==========================================================================
	 bootstrap-tables
	========================================================================== */
.bsTableToolbar .title {
	font-size: 18px;
	font-weight: bold;
}

.bsTableToolbar .btn-group {
	margin-left: 50px;
}

.bsTable {
	font-size: 12px;
}

.bsTable th {
	background-color: #ddd;
}

.bsTable .th-inner {
	font-size: 14px;
}

.bsTable.table-hover tbody tr:hover td,.bsTable.table-hover tbody tr:hover th
	{
	background-color: #eee;
}

.colTab5 {
	width: 5%;
}

.colTab10 {
	width: 10%;
}

.colTab20 {
	width: 20%;
}

/** ==========================================================================
	 
	========================================================================== */
.list-group-title {
	font-size: 16px;
	font-weight: bold;
}

#list-allUS {
	font-size: 12px;
}

li.list-group-item:FIRST-CHILD {
	font-weight: bold;
	background-color: #ddd;
	font-size: 14px;
}

li.list-group-item .list-table-cell {
	border-left: 1px solid #ddd;
}

li.list-group-item:HOVER {
	background-color: #eee;
}

li.list-group-item:FIRST-CHILD:HOVER {
	background-color: #ddd;
}

li.list-group-item:FIRST-CHILD .list-table-cell {
	border-left: 1px solid #fff;
}

li.list-group-item:HOVER .list-table-cell {
	border-left: 1px solid #fff;
}

li.list-group-item .list-table-cell:FIRST-CHILD,li.list-group-item:HOVER .list-table-cell:FIRST-CHILD
	{
	border-left: none;
}

li.list-group-item.active,li.list-group-item.active:hover,li.list-group-item.active:focus
	{
	z-index: 2;
	color: #fff;
	background-color: #428bca;
	border-color: #428bca;
}

.list-group-item-heading {
	font-weight: bold;
}

/** ==========================================================================
	 
	========================================================================== */
.panel.panel-default>.panel-heading {
	background-color: #ddd;
}

.panel .panel-title {
	font-size: 14px;
	font-weight: bold;
}

/** ==========================================================================
	 
	========================================================================== */
#estimateTool .table-condensed>thead>tr>th,#estimateTool .table-condensed>tbody>tr>th,#estimateTool .table-condensed>tfoot>tr>th,#estimateTool .table-condensed>thead>tr>td,#estimateTool .table-condensed>tbody>tr>td,#estimateTool .table-condensed>tfoot>tr>td
	{
	padding: 2px;
}

.table>thead>.voteTool {
	background-color: #ddd;
	font-size: 14px;
	font-weight: bold;
}

.voteTool span.glyphicon {
	color: #666;
}

.voteTool .vtEstimate {
	text-align: center;
}

.voteTool .vtMinus,.voteTool .vtContent,.voteTool .vtPlus {
	display: inline-block;
	text-align: center;
}

.voteTool .vtPlus,.voteTool .vtMinus {
	width: 25%;
	background-color: #eee;
	cursor: pointer;
}

.voteTool .vtContent {
	width: 50%;
}